/* BASE */
html {
  font-family: Garamond, serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

/* Text  & Links*/
a {color: #ffffff;}

a:link {text-decoration: none;}

a:hover, a:active {
  background-color: #faccd0;
  color: #000000;
}

/* HEADER, BODY, FOOTER */
#header {
  grid-column: 2;
  grid-row: 1;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

#footer {
  grid-column: 2;
  grid-row: 3;
  background-color: #000000;
  color: #faccd0;
  text-align: center;
}

main, pre, .post-container {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.contacts {
  align-self: center;
}

/* NAVIGATION BAR */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: #000000
}

nav ul li {
  display: inline-block;
  padding: 14px 14px;
}

/* POSTS LAYOUT */
.post-container {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.post {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.post h1 {
  font-size: 3rem;
  text-align: center;
}

.entry {
  line-height: 1.5;
  color: #ffffff;
}

.posts-list {
  grid-column: 2;
  grid-row: 2;
  text-align: left;
  color: #ffffff;
}

.posts-list ul {
  list-style-type:disc;
  list-style-position: inside;
  text-align: left;
}

.post a:link {
  text-decoration: underline;
}

/* ART IMAGES */
.image-container {
  grid-column: 2;
  grid-row: 2;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  padding: 14px;
}

/* MISC */
blockquote {
  text-align: center;
  font-style: italic;
  color: #faccd0
}

 hr { 
  height: 4px; 
  background-color: #faccd0; 
  border: none; 
} 

/* TABLE */
.table-container {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

th, td {
  border: 1px solid #ddd;
  padding: 6px 8px;
  text-align: left;
}